.widgetSml {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}

.WidgetSmlTitle{
    font-size: 22px;
    font-weight: 600;
}
 
.widgetSmlImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.WidgetSmlList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.WidgetSmlListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.WidgetSmlUser{
    display: flex;
    flex-direction: column;
}
.WidgetSmlUserName{
    font-weight: 600;
}

.WidgetSmlUserTitle{
    font-weight: 300;
}
.WidgetSmlButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;    
}
.WidgetSmlIcon{
    font-size: 16px !important;
    margin-right: 5px;
}